@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  *{
    font-family: 'Roboto', sans-serif;
  }

  body{
    background-color: #E5E5E5;
  }

    /* estilos del nav*/

  .navegador{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
  }

  .lista-navegacion{
    display: flex;
    list-style: none;
    }
  
  .lista-navegacion li{
    margin-right: 20px;
  }  
  .prueba{
    display: flex;
    align-items: center;
  }

  /* estilos del main*/

  .fondo{
    display: flex;
    
    justify-content: center;
    background-color: #E5E5E5;
   
  }


.delivery{
  background-image: url(../img/delivery.jpg);
  width: 490px;
  height: 350px;
  margin-top: 5%;
}

.delivery h2{
  text-align: center;
  color: #FC200C;
}

.delivery h2 span{
  color: white;
}

.contenedor-podio{
  width: 490px;
  height: 350px;
  margin-top: 5%;
  background-color: white;
}

.podio{
  color: #FC200C;
  text-align: center;

}

.topcinco{
  margin-left: 20%;
}

.contenedor-arbolito{
  display: flex;
  justify-content: space-around;
  
  
}

ol li{
  font-weight: bold;
  margin-bottom: 10px;
  
}

/* estilos del footer */

.informacion{
  margin-top: 5%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  align-items: center;
  
}

.ultimo ul{
  list-style-type: none;
}

.ultimo li{
  margin-top: 8px;
}

.ultima-imagen{
  margin-right: 5%;
}



 